name: Sync to Hugging Face Hub

on:
  push:
    branches: [main, dev]

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Configure Environment Secret
        env:
          HF_TOKEN: ${{ env.HF_TOKEN }}
          SPACE_NAME: ${{ env.SPACE_NAME }}
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "SPACE_NAME=${{ secrets.URL_API_PRD }}" >>$GITHUB_ENV
            echo "HF_TOKEN=${{ secrets.ACCESS_TOKEN_HUGGING_PRD }}" >>$GITHUB_ENV
          else
            echo "SPACE_NAME=${{ secrets.URL_API_DEV }}" >>$GITHUB_ENV
            echo "HF_TOKEN=${{ secrets.ACCESS_TOKEN_HUGGING_DEV }}" >>$GITHUB_ENV
          fi
      - name: Push to Hub
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          rm -rf .git
          git init -b main
          git add .
          git commit -m "Deploy limpo"

          git remote add space "https://joaobarreto27:$HF_TOKEN@huggingface.co/spaces/$SPACE_NAME"

          git push space HEAD:main -f
